# eclipse files
.project
.cproject
.autotools
.gdbinit
.settings

# autotools
.deps
Makefile
Makefile.in
/aclocal.m4
/autom4te.cache
/compile
/config.*
/configure
/depcomp
/install-sh
/*libtool
/ltmain.sh
/missing
/stamp-h1

# compile
*.o
/*.service
dbus-ping
dbus-test-service

# misc
*~
